

.btn {
  color: red;
}

.smlBtn {
  color:white;
  padding: 4px;
  margin: 10px;
  text-align: center;
  background-color: #0074bc;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-family: Helvetica;
  padding-left: 20px;
  padding-right: 20px;
}

.box {
  width: 1000px;
  height: 1000px;
  padding: 20px;
  margin-left: 175px;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  border-radius: 5px;
}

.boxSmall {
  width: 400px;
  height: 400px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  border-radius: 5px; 
}


.pads {
  padding: 10px;
}

.padm {
  padding: 20px;
}

.padl {
  padding: 130px;
}



.font {
  font-family: Helvetica;
  margin-bottom: 30px;
}

.col {
  width: 50%;
}

.center {
  align-content: center;
  text-align: center;
}

.overlay{
  background-color: #787878;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  float: center;
}

